<div class="col-md-3">
  <h2 class="text-center">Edit Trip</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Code:</label>
          <input 
            type="text" 
            formControlName="code" 
            placeholder="Trip Code" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
            />
          <div *ngIf="submitted && f.code.errors">
            <div *ngIf="f.code.errors.required">
              Trip Code is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Name:</label>
          <input 
            type="text" 
            formControlName="name" 
            placeholder="Name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          />
          <div *ngIf="submitted && f.name.errors">
            <div *ngIf="f.name.errors.required">
              Name is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Length:</label>
          <input type="text" formControlName="length" 
            placeholder="Length" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.length.errors }">
          <div *ngIf="submitted && f.length.errors">
            <div *ngIf="f.length.errors.required">
              Length is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Start:</label>
          <input type="text" formControlName="start" 
            placeholder="Start" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.start.errors }">
          <div *ngIf="submitted && f.start.errors">
            <div *ngIf="f.start.errors.required">
              Start is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Resort:</label>
          <input type="text" formControlName="resort" 
            placeholder="Resort" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.resort.errors }">
          <div *ngIf="submitted && f.resort.errors">
            <div *ngIf="f.resort.errors.required">
              Resort is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Price per Person:</label>
          <input type="text" formControlName="perPerson" 
            placeholder="$" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.perPerson.errors }">
          <div *ngIf="submitted && f.resort.errors">
            <div *ngIf="f.perPerson.errors.required">
              Price per Person is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Image URL:</label>
          <input type="text" formControlName="image" 
            placeholder="Image Url" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.image.errors }">
          <div *ngIf="submitted && f.image.errors">
            <div *ngIf="f.image.errors.required">
              An image is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Description:</label>
          <textarea 
            rows = "5" 
            formControlName="description" 
            style="width: 20rem"
            placeholder="Description" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
          </textarea>
          <div *ngIf="submitted && f.description.errors">
            <div *ngIf="f.description.errors.required">
              Description is required
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-info">Save</button>
      </form>
    </div>
