<div class="card ml-4" style="width: 18rem; height: 50rem; margin-bottom: 3rem;">
  <div class="card-header">{{ trip.name }}</div>
    <img src="assets/images/{{ trip.image }}" alt="trip thumbnail" class="card-img-top">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">{{ trip.resort }}</h6>
      <p class="card-subtitle mt-3 mb-3 text-muted">
        {{trip.length}} only {{trip.perPerson|currency:'USD':true}} per person</p>
      <p class="card-text" [innerHTML]="trip.description"></p>
      <div *ngIf="isLoggedIn()">
              
        <button (click)="editTrip(trip)" 
          class="btn btn-info" 
          style="margin-right: 1rem; width: 5rem">
          Edit
        </button>
      
        <button (click)="deleteTrip(trip)" 
            class="btn btn-info" 
            style="width: 5rem; background-color: #C60606; border-color: #C60606">
            Delete
        </button>
        
      </div>
  </div>
</div>

