<div id="footer">
    <div>
        <ul class="navigation">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <a href=“travel.html">Travel</a>
            </li>
            <li>
                <a href="rooms.html">Rooms</a>
            </li>
            <li>
                <a href=“meals.html">Meals</a>
            </li>
            <li>
                <a href="news.html">News</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
        <div id="connect">
            <a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a> <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a> <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a> <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
        </div>
    </div>
    <p>
        © 2023 by Travlr Getaways. All Rights Reserved
    </p>
</div>