<div id="header">
    <div id="logo">
        <a href="index.html"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
    </div>
    <div id="navigation">
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="selected">
                <a href="travel.html">Travel</a>
            </li>
            <li>
                <a href="rooms.html">Rooms</a>
            </li>
            <li>
                <a href="meals.html">Meals</a>
            </li>
            <li>
                <a href="news.html">News</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
</div>