<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header rooms="rooms"}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Rooms</h1>
							<ul id="rooms">
								<li>
									<a href="rooms.html"><img src="images/first-class.jpg" alt="Img"></a>
									<h2><a href="rooms.html">First Class Room</a></h2>
									<p>
										Cras dui sapien, feugiat vitae tristique ut, lobortis tempor orci. Donec pulvinar sagittis metus ut tristique. Pellentes que habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas idios.
									</p>
									<span class="rate">Rate: 220 / Day</span>
								</li>
								<li>
									<a href="rooms.html"><img src="images/deluxe.jpg" alt="Img"></a>
									<h2><a href="rooms.html">Deluxe Room</a></h2>
									<p>
										Sed et augue lorem. In sit amet placerat arcu. Mauris volutpat ipsum ac justo mollis vel vestibulum orci gravida. Vestibulum sit amet porttitor odio. Nulla facilisi. Fusce at pretium felis.
									</p>
									<span class="rate">Rate: 150 / Day</span>
								</li>
								<li>
									<a href="rooms.html"><img src="images/suite.jpg" alt="Img"></a>
									<h2><a href="rooms.html">Suite Room</a></h2>
									<p>
										Sed et augue lorem. In sit amet placerat arcu. Mauris volutpat ipsum ac justo mollis vel vestibulum orci gravida. Vestibulum sit amet porttitor odio. Nulla facilisi. Fusce at pretium felis.
									</p>
									<span class="rate">Rate: 180 / Day</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer}}
	</div>
</body>
</html>